/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root, .leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.leaflet-container {
  z-index: 0; /* or a higher value if needed */
}
