/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root, .leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  position: relative;
  z-index: 0;
}

.gutter {
  background-color: #e5e7eb; /* Tailwind's gray-300 color */
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

/* Disable overscroll behavior for the entire page */
html, body {
  overflow: hidden; /* Prevents page scroll */
  overscroll-behavior: none; /* Disables the elastic bounce effect */
  height: 100%; /* Ensures the body takes the full viewport height */
}
